<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Non Veg dishes Combhos</h1>
          <h2>Chicken Biryani with Chicken 65</h2>
    <h2>Chicken Biryani with Chicken gravy</h2>
    <h2> Chicken Biryani with Tandoori Chicken </h2>
    <h2>Mutton Biryani with Mutton Kabab</h2>
    <h2>Mutton Biryani with Chicken 65</h2>
    <h2>Mutton Biryani with Tandoori Chicken </h2>
    </center>
  
</body>
</html>